*,
*::before,
*::after {
	/* NOTE Basic Reset styles */
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	/* NOTE Global setting */
	/* NOTE This defines what 1rem is */
	font-size: 62.5%;
}

body {
	box-sizing: border-box;

	padding: 0 6rem;
	margin: 0;
	font-family: 'Open Sans Condensed', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	// gap: 2.5rem;
	justify-content: flex-start;
	align-items: stretch;
	gap: 3rem;
}
