// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


$color-firebase-primary: #12293F;
$color-firebase-primary-light: #476282;
$color-firebase-primary-dark: #1b3a57;
$color-firebase-primary-dark-hover: rgba(255, 255, 255, 0.078);

$color-firebase-secondary: #476282;

$color-firebase-tertiary-light: #1a73e8;

$color-firebase-grey-light-1: #FAFAFA;
$color-firebase-grey-light-2: #F6F7F9;
$color-firebase-grey-light-3: rgba(0,0,0, 0.08);