/* Abtracts */
/* Base */
*,
*::before,
*::after {
  /* NOTE Basic Reset styles */
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /* NOTE Global setting */
  /* NOTE This defines what 1rem is */
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@keyframes App-logo-spin {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0deg); } }

/* Component */
.menu-item {
  height: 24rem;
  flex: 1 1 auto;
  display: flex;
  flex: 1 1 30%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative; }
  .menu-item:hover {
    cursor: pointer; }
    .menu-item:hover .background-image {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95); }
    .menu-item:hover .title {
      opacity: 0.9; }
  .menu-item.large {
    height: 38rem; }
  .menu-item .background-image {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute; }
  .menu-item .title {
    height: 90px;
    padding: 0 1rem;
    border: 1px solid black;
    background-color: white;
    opacity: 0.7;
    flex: 0 0 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .menu-item .title--main {
      font-weight: bold;
      margin-bottom: .6rem;
      font-size: 2.2rem;
      text-transform: uppercase;
      color: #4a4a4a; }
    .menu-item .title--sub {
      font-weight: lighter;
      font-size: 1.6rem;
      text-transform: uppercase; }

/* Layout */
.directory-menu {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
  justify-content: space-between; }

/* Page */
.homepage {
  background-color: #eeeeee;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem 8rem; }
