.directory-menu {
	// width: 100%;
	// background-color: cornflowerblue;
	// padding: 1.5rem;
	flex-basis: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
	justify-content: space-between;
  }
  